<!DOCTYPE html>
<html>
<head>
    <title>Music App</title>
    <style>

    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<!-- Sidebar -->
<div class="sidebar">
    <div class="logo">MusicNMD</div>
    <div class="menu">
        <a href="#"><p>🏠 Khám phá</p></a>
        <a href="#"><p>🎵 Thư viện</p></a>
        <a href="#"><p>📊 Top 100</p></a></div>
    
</div>

<!-- Main -->
<div class="main">

    <!-- Topbar -->
    <div class="topbar">
        <input class="search" placeholder="Tìm bài hát...">
        <div>👤 User</div>
    </div>

    <!-- Upload -->
    <div class="upload">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept="audio/*">
            <button>Upload</button>
        </form>
    </div>

    <!-- Danh sách nhạc -->
    <h3>Danh sách bài hát</h3>

    {% for song in songs %}
    <div class="song" onclick="playSong('{{ url_for('static', filename='music/' + song) }}')">
        <span>{{ song }}</span>
        <span>▶</span>
    </div>
    {% endfor %}

</div>

<!-- Player -->
<div class="player">
    <audio id="player" controls style="width:100%"></audio>
</div>

<script>
function playSong(src) {
    let player = document.getElementById("player");
    player.src = src;
    player.play();
}
</script>

</body>
</html>